.inner {
    @apply w-full h-12 bg-header-primary flex items-center px-4;
    position: relative;
}

.logoContainer {
    @apply w-[139px] h-[46px] cursor-pointer;
}

.menuButton {
    /* Add this class */
    @apply text-white bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded;
}

.rightSection {
    @apply flex items-center gap-4;
    position: absolute;
    right: 2%;
    /* transform: translateX(-50%); */
}

.addressContainer {
    @apply flex items-center gap-2;
}

.addressContainer {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 8px 16px;
    /* margin-right: 20px; */
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.5px;
    border: 1px solid #ffd700;
    box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

.countdownContainer {
    font-family: "Roboto Mono", monospace;
    font-size: 24px;
    font-weight: bold;
    color: #ffd700;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.pxChange {
    position: absolute;
    top: 20px;
    left: 70%;
    transform: translateX(-10%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    animation: fadeInOut 1s ease-in-out;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    font-weight: bold;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(-50%, -10px);
    }
    50% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -10px);
    }
}

.zeroPx {
    background-color: rgba(255, 0, 0, 0.1);
    color: #ff0000;
    border: 1px solid #ff0000;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
