.inner {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}

.selected {
    background-color: lightblue;
}
